.site-header {
  background-color: $darkColor;
  height: 70px;

  .container {
    max-width: 960px;
  }

  .logo {
    height: 40px;
    fill: $primaryColor;
  }

  a:not(:first-child) {
    color: $linkColor;
    transition: ease-in-out color 0.15s;
    line-height: 45px;

    &:hover {
      color: $linkActiveColor;
      text-decoration: none;
    }
  }
}
